<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="FFmpegCatapult.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
    <userSettings>
        <FFmpegCatapult.Properties.Settings>
            <setting name="WriteLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="FFmegPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TerminalPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FFmpegArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="TerminalArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="LogFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="UrlFilenames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreferNonFree" serializeAs="String">
                <value>False</value>
            </setting>
        </FFmpegCatapult.Properties.Settings>
    </userSettings>
</configuration>
