<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="FFmpegCatapult.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <FFmpegCatapult.Properties.Settings>
            <setting name="FFmpegBin" serializeAs="String">
                <value />
            </setting>
            <setting name="TermBin" serializeAs="String">
                <value />
            </setting>
            <setting name="TermArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="NullPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OverwriteFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepValues" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Threads" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Preset" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="TwoPassEncoding" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InitPreset" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VideoCodec" serializeAs="String">
                <value />
            </setting>
            <setting name="VideoEncoder" serializeAs="String">
                <value />
            </setting>
            <setting name="VideoBitrate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VideoMaxBitrate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseCRF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CRF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BufferSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScaleMethod" serializeAs="String">
                <value />
            </setting>
            <setting name="CodecLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScaleMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PixelFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="CMP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SubCMP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VideoMinBitrate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Qmax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Qmin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Trellis" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BFrames" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BFStrat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GOPSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bits" serializeAs="String">
                <value />
            </setting>
            <setting name="Bytes" serializeAs="String">
                <value />
            </setting>
            <setting name="VideoCodecProfile" serializeAs="String">
                <value />
            </setting>
            <setting name="VideoEncoderPreset" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioCodec" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioEncoder" serializeAs="String">
                <value />
            </setting>
            <setting name="SampleRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Channels" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AudioQuality" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseAudioVBR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiaSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AudioBitrate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AudioCodecProfile" serializeAs="String">
                <value />
            </setting>
            <setting name="UseVBR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MEMethod" serializeAs="String">
                <value />
            </setting>
            <setting name="FileFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RatioA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RatioB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Deinterlace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FPS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AspectRatio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Crop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Pad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LayoutHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LayoutWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PadColour" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WriteLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="MultiThreading" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BinArgs" serializeAs="String">
                <value />
            </setting>
        </FFmpegCatapult.Properties.Settings>
    </userSettings>
</configuration>
